counselling-data-service/src/main/resources/static/favicon.ico
counselling-data-service/src/main/resources/static/index.html
counselling-data-service/src/main/resources/static/main.js
counselling-data-service/src/main/resources/static/main.js.map
counselling-data-service/src/main/resources/static/polyfills.js
counselling-data-service/src/main/resources/static/polyfills.js.map
counselling-data-service/src/main/resources/static/runtime.js
counselling-data-service/src/main/resources/static/runtime.js.map
counselling-data-service/src/main/resources/static/styles.js
counselling-data-service/src/main/resources/static/styles.js.map
counselling-data-service/src/main/resources/static/vendor.js
counselling-data-service/src/main/resources/static/vendor.js.map
