/* You can add global styles to this file, and also import other style files */
body,html{
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    background-color: #EDEEF1;
    color: #030303
}

*{
    box-sizing: border-box;
}

body{
    font-size: 1.4rem;
}
h1{ font-size: 2.4rem;}
h2{ font-size: 2rem;}
h3{ font-size: 1.8rem;}
h4{ font-size: 1.4rem;}
h5{ font-size: 1rem;}
h6{ font-size: 0.8rem;}
p, a { font-size: 1,2rem; margin: 0; padding: 0;}
.bg-def-color {
    background-color: #FD6101;
}

.heading {
	padding: 12px 10px;
}

.heading p {
	margin-bottom: 0;
	font-weight: bold;
}

.heading p a{ 
 color: #fff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .flex-filter-container-xs {
        width: 100%;
        /* Safari */
        display: -webkit-flex;
        /* Standard syntax */
        display: flex;
        flex-direction:column;
        justify-content: space-between;
    }

    .yt-container-xs {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .flex-filter-container-sm {
        width: 100%;
        /* Safari */
        display: -webkit-flex;
        /* Standard syntax */
        display: flex;
        flex-direction:column;
        justify-content: space-between;
    }
    .yt-container-sm {
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .flex-filter-container-m {
        width: 100%;
        /* Safari */
        display: -webkit-flex;
        /* Standard syntax */
        display: flex;
        flex-direction:row;
        justify-content: space-between;
    }

    .yt-container-m {
        width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .flex-filter-container-l {
        width: 100%;
        /* Safari */
        display: -webkit-flex;
        /* Standard syntax */
        display: flex;
        flex-direction:row;
        justify-content: space-between;
    }

    .yt-container-l {
        width: 50%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .flex-filter-container-xl {
        width: 100%;
        /* Safari */
        display: -webkit-flex;
        /* Standard syntax */
        display: flex;
        flex-direction:row;
        justify-content: space-between;
    }

    .yt-container-l {
        width: 50%;
    }
}

.category-filter {
    flex: 1;
}

.gender-filter {
    flex: 1;
}

.quota-filter {
    flex: 1;
}

.blank-item {
    flex: 1;
}