<div class="flex-filter-container-xs flex-filter-container-sm flex-filter-container-m flex-filter-container-l flex-filter-container-xl">
    <div class="category-filter">
        <app-category-filter></app-category-filter>
    </div>
    <div class="blank-item">

    </div>
    <div class="gender-filter">
        <app-gender-filter></app-gender-filter>
    </div>
    <div class="blank-item">
        
    </div>
    <div class="quota-filter">
        <app-quota-filter></app-quota-filter>
    </div>
</div>